<!doctype html>
<html>
    <head>
        <title>{{head_title}}</title>
        <style> .error { color:red;  font-style: italic;}</style> 
    </head>
<body>
<table>
   <tr>
        <td>
            <a href="/">home</a>   
        </td>
        <td>
            <a href="/newpost">new post</a>   
        </td>
        <td>
            <a href="/blog">blog</a>   
        </td>
        <td>
            <div width="120"></div>
        </td>
        <td>
            <a href="/login">login</a>   
        </td>
        <td>
            <a href="/logout">Logout</a>   
        </td>
   </tr> 
</table>
{% with messages = get_flashed_messages() %}
    <ul>
    {% for message in messages %}
        <li>{{message}}</li>
    {% endfor %}
    </ul>
{% endwith %}





    {% block content %}
    {% endblock %}

</body>
</html>