{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <form action = "/login"  method='POST' >
        <table>
            <tr>
                <td><label>Username</label>
                </td>
                 <td>
                 <input name="username" type="text" value='{{username}}' />
                </td>
                 <td class="error"> {{username_error}}
                </td>
            </tr>
            <tr>
                <td><label>Password</label>
                </td>
                <td>
                <input name="password" type="password" value='{{password}}' />
                </td>
                <td class="error">{{password_error}}
                </td>    
            </tr> 
            <tr>
                <td>
                    <input type="submit" value="Submit" />
                </td>    
            </tr>
            <tr>
                <td><br><br>
                    Don't have an account? <a href="/signup">Create one!</a>
                </td>
            </tr>
            </table>            
                </form>

 {% endblock %}