{% extends "base.html" %}

{% block content %}
    <h1>New Blog Post</h1>
    <form method='post' action= "/validate">
        <table>
            <tr>
                <td>
        <label>
            Title:
            <input type="text" name='title' />
        </label>
                </td>
            </tr>     
        <td class="error"> {{title_error}}
        </td>
        <label>
            Entry:</label>
            <textarea rows="3" cols="25" name='body' />
            </textarea>
        <td class="error"> {{body_error}}
        </td>
        <input type="submit" value='Post it!' />
        </table>
    </form>

{% endblock %}