{% extends "base.html" %}

{% block content %}
    <h1>New Blog Post</h1>
    <form method='post' action= "/validate">
        <table>
            <tr>
                <td>
        <label>
            Title:
        </label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="text" name='title' />                 
                </td>        
                <td class="error"> {{title_error}}
                </td>
            </tr>
            <tr>
                 <td>   
        <label>
            Entry:
        </label>
                 </td>
            </tr>
            <tr>
                <td width='50'>
                <textarea name='body' required='True'/>
                </textarea>
                </td>
                 <td class="error"> {{body_error}}
                </td>
            </tr>
        </table>
        <input type="submit" value='Post it!' />
        
    </form>

{% endblock %}