{% extends "base.html" %}

{% block content %}
    <h1>New Blog Post</h1>
    <form method='POST' action= "/blog">
        <table>
            <tr>
                <td>
        <label>
            Title:
        </label>
                </td>
            </tr>
            <tr>
                <td>
            <input type="text" name='title' />                 
                </td>        
                <td class="error"> {{title_error}}
                </td>
            </tr>
            <tr>
                 <td>   
        <label>
            Entry:
        </label>
                </td>
            </tr>
            <tr>
                <td>
                <textarea name='body' value='body' defaultValue='0'>
                </textarea>
                </td>
                 <td class="error"> {{body_error}}
                </td>
            </tr>
            <tr>
                <td>
                <input type ="hidden" name="username" value={{username}}/>
                <input type="submit" value='Post it!' />
                </td>
            </tr>
        </table>
        
        
    </form>

{% endblock %}