{% extends "base.html" %}

{% block content %}
    <h1>My Blog</h1>
    <table>   
        <tr>
            <td><h2><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h2></td>
        </tr>
        <tr>
            <td>{{blog.body}}</td>
        </tr>
        <tr>
            <td>
                    <br>
                    <br>
                <em>written by <a href="/blog?user={{blog.owner_id}}">{{owner.username}}</a></em></td>
            <td>
                <br>
                <br>{{blog.date}}</td>
        </tr>
    </table>
    <table>
        <hr colspan='8'></hr>
    </table>
{% endblock %}